body.archive, body.search{
  h1.page-title{
    text-transform:uppercase;
    letter-spacing:0.07em;
    color:#fff;
    background:#000;
  }

  div.fmag_story{
    background:none !important;

  }

}