$bgcolor: #f5f5f5;

body{
  font-family: 'News Cycle', sans-serif;
  background:$bgcolor;
}

// masthead
div.site-branding{
  text-align:center;
  p.site-title, h1.site-title{

    a{
      display:inline-block;
      text-indent:-9999999px;
      width:240px;
      height:48px;
      background:url(images/masthead.png);
      background-repeat: no-repeat;
      background-size: 240px 48px;
    }
  }
}