body.home,
body.archive,
body.search{

  header#masthead{

    &.original{

      // background:#888;
      height:45px;
      @media screen and (min-width: $break-large) {
        width: 750px;
      }
      margin-top:10px;
      border-bottom:5px solid #000;

      div.site-branding{
        overflow:hidden;
        float:left;
        h1{
          margin:0;
          display:inline-block;
          float:left;
          a{

            display: inline-block;
            text-indent: -9999999px;
            width: 180px;
            height: 36px;
            background: url(images/masthead.png);
            background-repeat: no-repeat;
            background-size: 180px 36px;
            background-position:-5px 0;
          }

        }

  p.site-description{
    margin:0px;
    display:none;
  }
}


      nav#site-navigation{
        margin: 12px 0px 25px 0;
        display:inline-block;
        float:right;
        overflow:hidden;
        width:auto;
        clear:none;

        div.menu-menu-1-container{
          display:inline-block;
          float:left;
        }

        ul{
          text-align:center;
          display:inline;
          li{
            display:inline-block;
            float:none;
            margin-right:5px;
            a{
              // color:#000;
            }
          }
        }
      }


    }
    &.cloned{
      transition-property: opacity;
      transition-duration: 2s;

      opacity:0;

      display:none;
      position:relative;
      background:rgba(255,255,255,0.9);
      h1.site-title{
        float:left;
        display:inline-block;
        margin:5px;
        a{
          width: 180px;
          height: 36px;
          background: url(images/masthead.png);
          background-repeat: no-repeat;
          background-size: 180px 36px;
        }
      }

      p.site-description{
        display:none;
      }
      nav#site-navigation{
        float:left;
        display:inline-block;
        width:auto;
        clear:none;
        top:25px;
        margin:0 0 0 10px;
        position:relative;
        ul{

          overflow:hidden;
          display:inline-block;
          li{
            display:block !important;
            margin-right:20px;
            a:hover{
              color:#000;
            }

          }
        }
      }


    }



  }

/*
  div#bigcover{
    text-align: center;
    background-image: url(images/bowtie.svg);
    width: 100%;
    background-repeat: repeat-x;
    background-position-x: center;
    article{
      border:0;
      header{
        margin:0;
        padding:0;

      }
    }
  }
  */

 // main{


    @media screen and (min-width: $break-large) {
      div.even{

      }

      div.odd{

        header{
          p, ul.minispreads, >a{
           // border-left: 4px solid #eee;
          }
        }
        article{


        }
      }
    }




    div.fmag_story{

      @media screen and (max-width: $break-small) {

        &::after {
          content: '';
          position: absolute;
          width: 50%;
          left:25%;

          border-bottom: 1px solid #aaa;

        }
      }

    //  background-image:url(images/right-to-left-01.bowtie);
    //  background-position: center;
    //  background-repeat-x: no-repeat;
      &.even{
      //  background-image:url(images/left-to-right-01.svg);
        header p, ul.minispreads, >a{
       //   border-left: 4px solid #fff;
        }

/*
        @media screen and (min-width: $break-large) {
          article{
            .entry-content{
              float:right;
            }
            .entry-header{
              float:right;
            }
          }
        }
*/

      }

      article{
        overflow:hidden;
        width:1280px;
        clear:both;
        // mobile
        max-width:100%;

        margin:0 auto;

        padding:20px 0;



        .entry-content{
/*
          @media screen and (min-width: $break-large) {
            width:780px;
            float:left;
          }
          */

        }



        .entry-header{

          width:700px;
          margin:0 0 0 40px;
          position:relative;
          text-align:left;

          @media screen and (max-width: $break-small) {
           width:auto;
            margin: 0 0 40px 0;
            padding: 0 0 0 15px;
            // background:rgba(255,255,255,0.5);
            height:auto;
            position:relative;
            width:100%;



          }

          /*
          @media screen and (min-width: $break-large) {
            padding-top:100px;
            float:left;

          }
*/


          h2{
            display:inline;
            width:430px;
            display:block;
            float:left;
            margin:0;
            font-size:1.4em;
            a{

              color:#000;
              text-decoration:none;
              text-transform:uppercase;
              letter-spacing:0.1em;
              font-size:80%;
              &:hover{
                //background:#000;
                color:#fff;
                text-decoration:line-through;
              }
            }
          }

          p {
          float:left;
            width:420px;
            &:first-of-type{
              margin:10px 0 0 0;
            }
            margin:0;
            padding: 0;


            >a{
              margin:0;
              padding-left:10px;
            }
            /*
            a{
              color:#000;
              text-decoration:none;
              text-transform:uppercase;
              font-size:80%;
              letter-spacing:0.05em;
              padding:2px 7px;
              &:hover{
                background:#000;
                color:#fff;
              }
            }*/
          }

          ul.minispreads{
            width:270px;
            margin:0;
            padding:0;
            position:absolute;
            right:0;
            overflow:hidden;

            @media screen and (max-width: $break-small) {
             display:none;
            }

            li{
              width:80px;
              list-style: none;
              float:left;
              margin:5px 0 0 10px;



              ///////


                  img {

                    -webkit-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
                    -webkit-transform: translateY(0);
                    transform: translateY(0);

                  }
                  &:hover{
                    img{
                      -webkit-transform: translateY(-4px);
                      transform: translateY(-4px);
                      outline-offset: -1px;
                      color: inherit;

                    }
                  }




              /////




              img{
                width:50%;
              }
            }
          }

          a.morepages{
            @media screen and (max-width: $break-small) {
              display:none;
            }
            display:block;
            position:absolute;
            padding: 2px 5px;
            margin-top: 2px;
            right:0;
            top: 60px;
          }


        }
        p{
          clear:both;
        }

        ul.medspread{

          max-width:100%;
          display:block;

          margin:0 auto;
          width:700px;
          height: 458px;



          @media screen and (min-width: $break-large) {

            display:inline;
            float:left;
            margin:0 40px;

          }
          @media screen and (max-width: $break-small) {
            height: auto;
            margin:0;
          }

          overflow:visible;


          padding:0;
          li{
            list-style: none;

            //// the little jump
        
            img {

              -webkit-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out;
              -webkit-transform: translateY(0);
              transform: translateY(0);

            }
            &:hover{
              img{
                -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
                outline-offset: -1px;
                color: inherit;

              }
            }

            ////


            img{
              width:50%;
            }
          }
        }
        .entry-footer{
          clear:both;
          .page-links{

          }
        }

      }



    }




  //}
  nav#site-navigation{

  }

  .nav-links{
    .nav-previous, .nav-next{
      font-size:200%;

      a{
        padding:0 10px;
        display:inline-block;
        margin:0 10px;
      }
      .nav-previous{
        text-align:left;
      }
      .nav-next{
        text-align:right;
      }
    }
  }

}
footer{
  text-align:center;
  a.footerlogo{

    width: 180px;
    height: 36px;
    background: url(images/masthead_white.png);
    background-repeat: no-repeat;
    background-size: 180px 36px;
    display:inline-block;
    text-indent:-1000%;
    margin-bottom:30px;
  }
}




// Eightcol.scss
// roll this work into the larger stylesheet when
// this prototype is complete

////////////////////////////////////////////////////////
// variables
////////////////////////////////////////////////////////

$columnwidth: 150px;
$columngutter: 10px;
$numcols: 8;
// $intermissionheight: 250px;


////////////////////////////////////////////////////////
// page
////////////////////////////////////////////////////////

#page{
  width:100%;
  // background-image: url(images/bowtie.svg);
  // background-repeat: repeat-x;
  // background-position-x: center;
  .lefty, .righty{
  //  background:#ff0;
    width:$numcols*$columnwidth+$columngutter*($numcols - 1);
    max-width:100%;
    //margin:$columngutter auto;
    margin: 0 auto;
    overflow:hidden;
  }
}


div{
  display:block;
  margin:0;
  padding:0;
}

////////////////////////////////////////////////////////
// areas by type
////////////////////////////////////////////////////////

// all the main columns
.lefty, .righty{
.primary{
display:block;

  width: $columnwidth * 5 + $columngutter * 4;
  max-width:100%;
  clear:both;
  // background-color:#C0FFEE;
  text-align:center;

}
}

// all the sidebars
.lefty, .righty{
  .secondary{

    display:block;
    @media screen and (min-width: $break-large) {

      // width: $columnwidth * 2 + $columngutter * 2;
      width: 330px;
    }
    // background-color:#FFC0EE;
    //  background-color:rgba(255,255,255,128);

    //background-position: -500px 0;
    //background-repeat-x: no-repeat;
    //background-image:url(images/left-to-right-01.svg);

    >div{
      margin:$columngutter auto;
    }
    .relatedcontent{
      width:350px;
      height:675px;
      border:1px solid #000;
    }

  }
}


// all the intermissions
.intermission-a,
.intermission-b,
.intermission-c{
  overflow:hidden; // sizing hack
  display:block;
  // height:$intermissionheight;
  padding: 0 0 20px 0;
  width:100%;
  clear:both;
  text-align:center;
  background-color: #fff;

  h2{
    color:#aaa;
    padding:10px;
  }
  ins{
    // messing with this might mess up the google ad
    // rendering...
    background:#fff;
    // text-align:center;
  }
}

// story rolls
.storyroll{
  text-align:center;
  margin:0;
  article{
    // width:725px;
    // height:500px;
    // border:1px solid #000;
    margin:$columngutter auto;
  }
}

// ad space
.adspace{
  width:350px;
  height:350px;
  background-color:#006699;
  display:block;
}


////////////////////////////////////////////////////////
// all areas, from top to bottom
////////////////////////////////////////////////////////

body.home > #page > div.top{

  width:1120px;

}

.lefty .primary{
  float:left;
  margin-right:$columngutter;
  max-width:100%;
  > div{
    background:#DDD;
  }
  .bigcover{
    width:750px;
    // height:970px;
    max-width:100%;

  }
  .menu-undercover{
    height:64px;
  }
}

.lefty .secondary {

  @media screen and (min-width: $break-large) {
    float: left;

  }



  > div {
    border: 1px solid #000;
  }

  .socialbuttons {
    border:none;
    height: 105px;
    width: 310px;
    margin: 0 auto;
    p {
      text-align: left;
      font-size: 0.8em;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      color: #bbb;

    }
  }
  a.sb-f {
    height: 58px;
    width: 58px;
    display: block;
    float: left;
    position: relative;
    margin: 2px;
    color: #BBB;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 7px;

  }
  div.sb-f {
    height: 58px;
    width: 58px;
    margin: 0 0 3px 0;

  }
  div.sb-f:hover {
    background-position: 0 -58px !important;

  }

  .sb-f-twi {
    background: url(images/socialbuttons/twitter.png) no-repeat scroll 0 0px transparent !important;

  }
  .sb-f-fac {
    background: url(images/socialbuttons/facebook.png) no-repeat scroll 0 0px transparent !important;

  }
  .sb-f-pin {
    background: url(images/socialbuttons/pinterest.png) no-repeat scroll 0 0px transparent !important;
  }
  .sb-f-tum {
    background: url(images/socialbuttons/tumblr.png) no-repeat scroll 0 0px transparent !important;
  }
  .sb-f-ins {
    background: url(images/socialbuttons/instagram.png) no-repeat scroll 0 0px transparent !important;
  }

  .followbutton a {
    color: #999999;
    font-size: 11px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    top: 5px;
  }






  aside.widget_latest_focuscover{
    // mostly handled in _widgets.scss
  }


}
.intermission-a{

}
.righty .primary{
  float:right;
}
.righty .secondary{
  float:right;
}

.intermission-b{
}
.bottom-main{
  float:left;
}
.bottom-side{
  float:left;
}


////////////////////////////////////////////////////////