// _widgets.scss
// compiles to styles.css
//
// 1. General Widget Stuff
// 2. Index Intermission
// 3. Focus
// 4. Flash
// 5. Search
// 6. Latest Stories



////////////////////////////////////
// 1. General Widget Stuff
////////////////////////////////////

aside{

  h2.widget-title{
    text-align:left;
    font-size:90%;
    margin-bottom:0;
    text-transform:uppercase;
    letter-spacing:0.1em;
  }

  ul{
    margin:0;
    padding:0;

    li{
      list-style: none;
      margin:5px;
    }

  }

}

div#secondary{
  border-top:1px solid silver;
}

////////////////////////////////////


////////////////////////////////////
// 2. Index Intermission (Focus and Flash container)
////////////////////////////////////

div.intermission-outer{
  background-image:url(images/bowtie.svg);
  background-position-y: 90px;
  background-repeat-y: no-repeat;
  background-position-x: center;

  div.intermission{
    margin:0 auto 5px auto;
    width:1280px;
    clear:both;
    height:550px;
    padding: 30px 0 0 0;
  }

}

////////////////////////////////////
// 3. Latest Focus Cover (Fantastics Focus)
////////////////////////////////////

aside.widget_latest_focuscover{
  width:330px;
  float:left;

  ul{
    margin:0;
    padding:0;

    li{
      list-style: none;
      margin:5px;
    }

  }

  h2.widget-title {
    margin:0;
    padding:0;
    background: url(http://fantasticsmag.com/sites/all/themes/fmag2014/images/focus-flash-bold.png);
    background-position: 5px 5px;
    text-indent: -3000px;
    background-repeat: no-repeat;
    font-size: 2em;
    padding: 5px;
    overflow: hidden;
    text-transform: lowercase;
    letter-spacing: 0em;
    text-align: left;
    font-weight: 400;
    color: #bbb;
  }

}

////////////////////////////////////


////////////////////////////////////
// 4. Tumblr (Fantastics Flash)
////////////////////////////////////

aside.Tumblr{
  margin-left:20px;
  float:left;
  width:71%;
  float:left;

  ul{
    max-height:445px;
    overflow:scroll;
    margin:0;
    padding:0;

    li{
      overflow:hidden;
      text-align:left;
      list-style:none;
      float:left;
      display:table;
      margin: 0 5px;

      img{
        max-height:400px;
      }

      p{
        font-weight: bold;
        font-size: 80%;
        margin-top: 0;
        display:table-caption;
        caption-side:bottom;

        a.tumblr_link{
          display:none;
        }

      }

    }

  }

  h2.widget-title {
    margin:0;
    padding:0;

    //TODO: place this file locally in project
    background: url(http://fantasticsmag.com/sites/all/themes/fmag2014/images/focus-flash-bold.png);
    //

    background-position: 5px -77px;
    text-indent: -3000px;
    background-repeat: no-repeat;
    font-size: 2em;
    padding: 5px;
    overflow: hidden;
    text-transform: lowercase;
    letter-spacing: 0em;
    text-align: left;
    font-weight: 400;
    color: #bbb;
  }

}
////////////////////////////////////


////////////////////////////////////
// 5. SEARCH Box (footer)
////////////////////////////////////

aside.widget_search{

  padding-top:20px;
  clear:both;
}

////////////////////////////////////


////////////////////////////////////
// 6. Latest Stories (footer)
////////////////////////////////////

aside.widget_latest_stories{

  @media screen and (max-width: $break-small) {
    width:auto;
  }
  width:1096px;
  max-width:100%;

  margin:0 auto !important;
  ul{
    li{
      display:inline-block;
      float:left;
    }
  }
  ul.stories{
    overflow:hidden;
    li.story{
      width:204px;
      height:132px;
      float:left;
      list-style: none;
      margin-right:10px;
      border: 4px solid $bgcolor;
      overflow:hidden;
      position:relative;

      @media screen and (max-width: $break-small) {
        width:50%;
        margin:0;
      }

      &.active{
        border:4px solid black;
      }
      &:hover{
        cursor:pointer;
        border:4px solid grey;
        &.active{
          border:4px solid black;
        }
        img{
          width:196px;
          height:248px;


          top:-72px !important;
          left:50% !important;
          &:first-of-type{
            left:-50% !important;
          }
        }
      }

      img{
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        width:98px;
        height:124px;
        margin:0;
        padding:0;
        position:absolute;
        top:0 ;
        left:96px ;

        &:first-of-type{
          top:0px ;
          left:0px;
        }

      }
    }
  }
}
////////////////////////////////////
