div.intermission-outer{
  background:url(images/bowtie.svg);
  background-position-y: -757px;
  background-repeat:no-repeat;


div.intermission{
  margin:30px auto;

  width:1280px;
  border-bottom:1px solid silver;
  clear:both;
  height:550px;



}
}

aside.widget_latest_focuscover{
  width:330px;
  // background:#fff;
  float:left;
  ul{
    margin:0;
    padding:0;
    li{
      list-style: none;
      margin:5px;
    }
  }
  h2.widget-title {
    margin:0;
    padding:0;
    background: url(http://fantasticsmag.com/sites/all/themes/fmag2014/images/focus-flash-bold.png);
    background-color: #fff;
    background-position: 5px 5px;
    text-indent: -3000px;
    background-repeat: no-repeat;
    font-size: 2em;
    padding: 5px;
    overflow: hidden;
    text-transform: lowercase;
    letter-spacing: 0em;
    text-align: left;
    font-weight: 400;
    color: #bbb;
  }

}
aside.Tumblr{
  margin-left:20px;
  float:left;
  width:71%;
  //background:#fff;
  float:left;

  ul{
    max-height:445px;
    overflow:scroll;
    margin:0;
    padding:0;
    li{

      overflow:hidden;

      text-align:left;
      list-style:none;
      float:left;
      display:table;
      margin: 0 5px;

      img{
        max-height:400px;
        //-webkit-filter: grayscale(100%);
        //filter: grayscale(100%);
        //filter: gray;
        //&:hover{
        //  -webkit-filter:none;
        //  filter:none;
       // }

      }
      p{
        font-weight: bold;
        font-size: 80%;
        margin-top: 0;
        display:table-caption;
        caption-side:bottom;
        a.tumblr_link{
          display:none;
        }
      }
    }
  }
  h2.widget-title {
    margin:0;
    padding:0;
    background: url(http://fantasticsmag.com/sites/all/themes/fmag2014/images/focus-flash-bold.png);
    background-color: #fff;
    background-position: 5px -77px;
    text-indent: -3000px;
    background-repeat: no-repeat;
    font-size: 2em;
    padding: 5px;
    overflow: hidden;
    text-transform: lowercase;
    letter-spacing: 0em;
    text-align: left;
    font-weight: 400;
    color: #bbb;
  }
}
aside.widget_search{
  border-top:1px solid silver;
  padding-top:20px;
  clear:both;
}
