// Eightcol.scss
// roll this work into the larger stylesheet when
// this prototype is complete

////////////////////////////////////////////////////////
// variables
////////////////////////////////////////////////////////

$columnwidth: 150px;
$columngutter: 10px;
$numcols: 8;
$intermissionheight: 250px;


////////////////////////////////////////////////////////
// page 
////////////////////////////////////////////////////////

#page{
  width:100%;
  #top,
  #mid,
  #bottom{
    background:#ff0;
    width:$numcols*$columnwidth+$columngutter*($numcols - 1);
    margin:$columngutter auto;
    overflow:hidden;
  }
}


div{
  display:block;
  margin:0;
  padding:0;
}

////////////////////////////////////////////////////////
// areas by type
////////////////////////////////////////////////////////

// all the main columns
#lefty, #righty
{
.primary{
  display:block;
  width: $columnwidth * 5 + $columngutter * 4;
  clear:both;
  background-color:#C0FFEE;
  text-align:center;
  >div{
    margin:5px auto;
  }
}
}
// all the sidebars
#lefty, #righty{
  .secondary{
    display:block;
    width: $columnwidth * 3 + $columngutter * 2;
    background-color:#FFC0EE;

    >div{
      margin:$columngutter auto;
    }
    .relatedcontent{
      width:350px;
      height:675px;
      border:1px solid #000;
    }
  }
}


// all the intermissions
.intermission-a,
.intermission-b{
  display:block;
  height:$intermissionheight;
  width:100%;
  clear:both;
  background:#aaaaaa;
}

// story rolls
.storyroll{
  text-align:center;
  article{
    width:725px;
    height:500px;
    border:1px solid #000;
    margin:$columngutter auto;
  }
}

// ad space
.adspace{
  width:350px;
  height:350px;
  background-color:#006699;
  display:block;
}


////////////////////////////////////////////////////////
// all areas, from top to bottom
////////////////////////////////////////////////////////


#lefty .primary{
  float:left;
  margin-right:$columngutter;
  > div{
    background:#DDD;
  }
  .bigcover{
    width:750px;
    height:970px;
  }
  .menu-undercover{
    height:64px;
  }
}
#lefty .secondary{
  float:left;
  >div{
    border:1px solid #000;
  }
  .socialbuttons{
    height:64px;
  }
  .latestfocuscover{
    width:320px;
    height:450px;
  }
  .flashroll{
    height:1170px;
  }
}
.intermission-a{
}
#righty .primary{
  float:right;
}
#righty .secondary{
  float:right;
}
.intermission-b{
}
.bottom-main{
  float:left;
}
.bottom-side{
  float:left;
}


////////////////////////////////////////////////////////